/* A quick, extra large button */
.btn-xlarge {
    padding: 14px 26px;
    font-size: 21.5px;
    -webkit-border-radius: 8px;
       -moz-border-radius: 8px;
            border-radius: 8px;
}

.btn-xlarge [class^="icon-"],
.btn-xlarge [class*=" icon-"] {
    margin-top: 4px;
}

/* gimme some space! */
.btn {
    margin-bottom: 5px;
}

/* downloadable */
.btn-download .specs {
    font-size: 0.6em;
}

/* in the middle */
.pull-center {
    text-align: center;
}

section {
    margin-top: 20px;
    margin-bottom: 20px;
}

/* From: http://twitter.github.io/bootstrap/examples/justified-nav.html */
/* Main marketing message and sign up button */
.jumbotron {
    margin: 80px 0 60px;
    text-align: center;
}
.jumbotron h2 {
    font-size: 50px;
    line-height: 1;
}
.jumbotron .lead {
    font-size: 24px;
    line-height: 1.25;
}
.jumbotron .btn {
    font-size: 21px;
    padding: 14px 24px;
}

.sharing {
    margin-bottom: 20px;
    text-align: center;
}