/* A quick, extra large button */
.btn-xlarge {
    padding: 14px 26px;
    font-size: 21.5px;
    -webkit-border-radius: 8px;
       -moz-border-radius: 8px;
            border-radius: 8px;
}

.btn-xlarge [class^="icon-"],
.btn-xlarge [class*=" icon-"] {
    margin-top: 4px;
}

/* gimme some space! */
.btn {
    margin-bottom: 5px;
}

/* in the middle */
.pull-center {
    text-align: center;
}

section {
    margin-top: 20px;
    margin-bottom: 20px;
}
